@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&family=Outfit:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

*{
    font-family: "Outfit";
}

/* Hide scrollbars for all browsers */
html, body {
  overflow: hidden;  /* disables both vertical & horizontal scroll */
  height: 100%;
}

/* If you only want to hide scrollbar but keep scrolling */
::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

body {
  -ms-overflow-style: none;  /* IE, Edge */
  scrollbar-width: none;     /* Firefox */
}
