@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&family=Outfit:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

/* Add this to your global CSS file (App.css or index.css) */
html, body, #root {
  height: auto !important;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto !important;
}

body {
  margin: 0;
  padding: 0;
}
